html {
    background-color: var(--color-5) !important;
}

body {
    /* background-color: var(--color-5); */
    display: flex;
    position: relative;
    justify-content: center;
    /* background: url('../assets/fondo.svg') repeat-x left bottom; */
    height: 100vh;
}

.container-fluid {
    background-color: #8c98a9;
    height: min-content;
}

form {
    background-color: var(--color-blanco-1);
    width: 400px;
    min-width: 300px;
    top: 110px;
    border-radius: 12px;
    margin: 2em 1em;
    height: fit-content;
    padding: 2em 2em 0 2em;
}

label {
    color: var(--color-5);
}

input[type=email],
input[type=text],
select {
    height: 35px;
    width: 99%;
    background: transparent;
    border: none;
    border-bottom: 2px inset var(--color-5);
}

small {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 1em;
    color: var(--color-4);
    font-weight: bolder;
    border-radius: 0 0 12px 12px;
}

h4 {
    display: flex;
    align-content: center;
    color: var(--color-2);
}

button {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: linear-gradient(336deg, var(--color-1), var(--color-2) 100%) !important;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffffd0;
    transition: transform 100ms linear;
    transform: scale(1);
    opacity: 0.9 !important;
    margin: 1.5em 0 0 0 !important;
}

button:hover {
    background: linear-gradient(336deg, var(--color-1), var(--color-2) 100%);
    color: var(--color-blanco-0);
    box-shadow: 0 4px 6px var(--sombra-1);
    opacity: 1 !important;
}

button:active {
    opacity: 100%;
    transform: scale(0.98);
}

.linkLogo {
    cursor: pointer;
}


/* header */
nav {
    display: flex !important;
    align-items: unset !important;
}

.nav-col {
    display: inline-block;
    padding: 20px 0;
    width: 33%;
    align-content: center;
}

.nav-col:nth-child(2) {
    display: flex;
    place-content: center;
}

.nav-col:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.nav-col ul li {
    padding: 10px 20px;
    height: unset !important;
}
/* header */