header {
    position: absolute;
    width: 100%;
    background: var(--color-blanco-1);
}

nav {
    display: flex;
    align-items: center;
}

.nav-col {
    display: flex;
    padding: 20px 0;
    width: 33.3%;
    align-content: center;
}

.nav-col img {
    height: 40px;
    padding-left: 20px;
}

.nav-col:nth-child(1) {
    justify-content: flex-start;
}

.nav-col:nth-child(2) {
    justify-content: center;
}

.nav-col:nth-child(3) {
    justify-content: flex-end;
}

.nav-col ul {
    background-color: transparent;
    display: flex;
    margin: 0 20px;
}

.nav-col ul>* {
    border-radius: 30px;
    transition: all 200ms linear;
}

.nav-col ul>*:hover {
    border-radius: 30px;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
}

.nav-col ul>*:hover a {
    color: var(--color-3);
}

.nav-col ul li {
    padding: 10px 20px;
    height: 20px;
}


/* menu flotante */

.menuFlotante {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-5);
    z-index: 10;
    top: 60px;
    right: 40px;
    padding: 1em 0;
    border-radius: 20px 0px 20px 20px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.menuFlotante ul * {
    color: white;
    width: 100%;
    text-align: start;
}

.menuFlotante ul>*:hover {
    background-color: hsla(0, 0%, 100%, 0.212) !important;
    width: 100%;
    cursor: pointer;
}

/* hamburguesa */
.hamburger {
    display: none;
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 10px;
    color: var(--color-5);
    border-radius: 20px;
    transition: all 200ms linear;
    z-index: 500 !important;
}

.hamburger:hover {
    border-radius: 20px;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
    color: var(--color-3);
}

.hamburger:active {
    transform: scale(0.95);
}


/* hamburguesa */


/* medias */

@media (max-width: 992px){


    
    .nav-col:nth-child(2),
    .nav-col:nth-child(3) {
        display: none !important;
    }
    
    .hamburger{
        display: block;
    }
    
}

@media (min-width: 993px){
    
    div#persiana {
        display: none;
    }
}

/* medias */


/* menu movil */

div.persiana { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    /* height: 100%; */
    top: -500px;
    background-color: #ffffffea;
    z-index: 100 !important;
    text-align: center;
    padding-top: 5em;
    opacity: 0%;
    box-shadow: 0 2px 6px var(--sombra-1);
}

div.persiana.active {
    animation: mover 600ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes mover{
    from{
        opacity: 0%;
        transform: translateY(0px);
    }
    to{
        opacity: 100%;
        transform: translateY(500px);
    }
}



div.persiana ul li {
    margin:  10px;
    padding: 0.4em;
}


div.persiana ul li:hover {
    margin: 10px;
    padding: 0.4em;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
}

div.persiana ul li:hover a {
    color: var(--color-3); 
}

div.persiana ul li a {
    font-size: xx-large;
}


div.persianaCartUser{
    border-top: solid 1px #8080801a;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    background-color: white;
    width: 100%;
    padding: 15px;
    justify-content: center;
}

div.persianaCartUser span{
    margin: 0 1em;
    color: var(--color-5);
    font-size: 16px;
}

.nav-col.persianaCartUser {
    padding: 0;
}

.remCart{
    margin: 0 15px;
    border-radius: 15px;
}

/* menu movil */












/* TAREAS *******************
- seguir con la validacion de carrito en local storage.
TAREAS *********************/

