header {
    position: absolute;
    width: 100%;
    background: var(--color-blanco-1);
    /* z-index: 300 !important; */
}

nav {
    display: flex;
    align-items: center;
}

.nav-col {
    display: flex;
    padding: 20px 0;
    width: 33.3%;
    align-content: center;
}

.nav-col img {
    height: 40px;
    padding-left: 20px;
}

.nav-col:nth-child(1) {
    justify-content: flex-start;
}

.nav-col:nth-child(2) {
    justify-content: center;
}

.nav-col:nth-child(3) {
    justify-content: flex-end;
}

.nav-col ul {
    background-color: transparent;
    display: flex;
    margin: 0 20px;
}

.nav-col ul>* {
    border-radius: 30px;
    transition: all 200ms linear;
}

.nav-col ul>*:hover {
    border-radius: 30px;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
}

.nav-col ul>*:hover a {
    color: var(--color-3);
}

.nav-col ul li {
    padding: 10px 20px;
    height: 20px;
}


/* menu flotante */

.menuFlotante {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-5);
    z-index: 10;
    top: 60px;
    right: 40px;
    padding: 1em 0;
    border-radius: 20px 0px 20px 20px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.menuFlotante ul * {
    color: white;
    width: 100%;
    text-align: start;
}

.menuFlotante ul>*:hover {
    background-color: hsla(0, 0%, 100%, 0.212) !important;
    width: 100%;
    cursor: pointer;
}

/* hamburguesa */
.hamburger {
    display: none;
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 10px;
    color: var(--color-5);
    border-radius: 20px;
    transition: all 200ms linear;
    z-index: 400 !important;
}

.hamburger:hover {
    border-radius: 20px;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
    color: var(--color-3);
}

.hamburger:active {
    transform: scale(0.95);
}


/* hamburguesa */




@media (max-width: 992px){

    .nav-col:nth-child(2),
    .nav-col:nth-child(3) {
        display: none !important;
    }

    .hamburger{
        display: block;
    }

}


/* TAREAS *******************

- seguir con los menus porque no esta terminado.
- seguir con los media queries.
- seguir con la validacion de carrito en local storage.

TAREAS *********************/



