
header {
    position: absolute;
    width: 100%;  
    background: var(--color-blanco-1);
}

nav{
    display: flex;
    align-items: center;
}

.nav-col {
    display: flex;
    padding: 20px 0;
    width: 33.3%;
    align-content: center;
}

.nav-col img {
    height: 40px;
    padding-left: 20px;
}

.nav-col:nth-child(1) {
    justify-content: flex-start;
}

.nav-col:nth-child(2) {
    justify-content: center;
}

.nav-col:nth-child(3) {
    justify-content: flex-end;
}

.nav-col ul {
    background-color: transparent;
    display: flex;
    margin: 0 20px;
}

.nav-col ul > * {
    border-radius: 30px;
    transition: all 200ms linear;
}

.nav-col ul > *:hover {
    border-radius: 30px;
    background-color: var(--color-blanco-0);
    box-shadow: 0 2px 6px var(--sombra-1);
}

.nav-col ul > *:hover a {
    color: var(--color-3);
} 

.nav-col ul li {
    padding: 10px 20px;
    height: 20px;
}


