/* nucba store ******************** */

section.mainSection {
    background: url(../assets/font2.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

div.mainRow {
    width: 1080px;
    text-align: center;
    padding: 2em 0.5em;
}

div.mainRow p {
    color: var(--color-blanco-0);
}

.mainRow span {
    color: white;
}


/* nucba store ******************** */


/* header correccion x bootstrap */

nav {
    display: flex !important;
    align-items: unset !important;
}

.nav-col {
    display: inline-block;
    padding: 20px 0;
    width: 33%;
    align-content: center;
}

.nav-col:nth-child(2) {
    display: flex;
    place-content: center;
}

.nav-col:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.nav-col ul li {
    padding: 10px 20px;
    height: unset !important;
    align-self: center;
}


/* header correccion x bootstrap */


/* correccion newsletter por bootstrap */

input.newsletter {
    height: 35px;
    width: 99%;
    background: transparent;
    border: none;
    border-bottom: 2px inset var(--color-5);
}

button.newsletter {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: linear-gradient(336deg, var(--color-1), var(--color-2) 100%) !important;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffffd0;
    transition: transform 100ms linear;
    transform: scale(1);
    opacity: 0.9 !important;
    margin: 1.5em 0 0 0 !important;
}

button:hover {
    background: linear-gradient(336deg, var(--color-1), var(--color-2) 100%);
    color: var(--color-blanco-0);
    box-shadow: 0 4px 6px var(--sombra-1);
    opacity: 1 !important;
}

button:focus {
    outline-style: none;
}

button:active {
    opacity: 100%;
    transform: scale(0.98);
}


/* correccion newsletter por bootstrap */