main{
    width: 100%;
}

h2 {
    color: var(--color-5);
    margin: 2em 0;
}


/* nucba store ******************** */
section.mainSection {
    background: url(../assets/font2.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

div.mainRow {
    width: 1080px;
    text-align: center;
    padding: 2em 0.5em;

}

div.mainRow p {
    color: var(--color-blanco-0);
}
/* nucba store ******************** */


/* productos ******************** */
.boxProduct{
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: white;
    margin: 0.5em;
    border: 1px solid #00000031;
    border-radius: 10px;
}


div.imgProduct {
    position: relative;
    background: url(../assets/remera-2.png);
    background-size: cover;
    object-fit: cover;
    background-position: bottom;
    width: 100%;
    height: 340px;
    border-radius: 10px 10px 0 0;
}

.boxProduct img.boxForm {
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
}

.boxProduct h3.precio {
    position: absolute;
    margin: 10px;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    color: var(--color-blanco-0);
    opacity: 1;
    color: yellow;
    font-size: 22px;
    background-color:  #000000be;
    bottom: 15px;
    right: 0px;
}

.boxProduct h3.precio small {
    text-decoration: line-through;
    font-weight: 200;
    opacity: 0.6;
    color: var(--color-blanco-0);
}

.pieBox {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pieBox h3 {
    margin: 0;
    color: var(--color-5);
}

.pieBox button {
    display: flex;
    border: 1px solid #00000031;
    color: var(--color-5);
    margin: 0 0.2em;
    font-size: larger;
    width: 20px;
    justify-content: center;
    background: var(--color-white-1);
    opacity: 1 !important;
}

.pieBox button:hover {
    color: white !important;
    background-color: var(--color-5);
}

.titleSubtitle {
    width: 100%;
    text-align: initial;
}
/* productos **********************/
