* {
    padding: 0;
    margin: 0;
    background-origin: border-box;
}

body {
    height: max-content;
    max-width: 1500px;
}


/* header {
    visibility: hidden;
} */

.produc {
    display: none;
}

.collection span {
    color: burlywood;
    font-size: 19px;
    /* font-weight: 800; */
    padding-left: 5px;
}

.card {
    border: none;
}

.collection input {
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 40%;
    left: 30%;
    opacity: 0;
}

.collection .card:hover input {
    opacity: 1;
    transition: 1s;
}

.collection input:hover {
    background-color: lightcoral;
    transition: 0.5s;
}

.collection img {
    height: 355px;
    width: 350px;
}

.parallex {
    background: url(font.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}

.parallex h1 {
    font-size: 55px;
    font-weight: 700;
}

.parallex p {
    font-size: 22px;
}

.btn2 {
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
}

.btn2:hover {
    background-color: white;
    color: yellowgreen;
    transition: 0.3s;
    border: none;
}

.btn3 {
    height: 40px;
    width: 110px;
    background-color: white;
    outline: none;
    border: none;
    color: yellowgreen;
    border-radius: 4px;
}

.btn3:hover {
    background-color: rgb(75, 54, 54);
    color: white;
    transition: 0.3s;
    border: none;
    outline: none;
}

.card span {
    color: burlywood;
    /* font-weight: 800; */
    padding-left: 5px;
}


/* -------------- */


/* 
.article a {
    list-style: none;
    color: black;
    outline: none;
}

.article a:hover {
    color: yellowgreen;
    transition: 0.3s;
}

.article p {
    font-size: 21px;
}

.article span {
    color: yellowgreen;
}

.article small {
    font-size: 15px;
} */