body {
    background-color: yellowgreen;
}

.formulario {
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #adadd5;
    padding: 10px;
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    border: 1.5px solid black;
    border-radius: 7px 7px 7px 25px;
}

label {
    width: 200px;
    display: block;
    margin: 10px;
    float: left;
}

input[type=text],
select {
    width: 80%;
    float: left;
    margin: 0 10%;
}

button {
    background-color: rgb(100, 5, 145);
    color: wheat;
    display: block;
    clear: both;
    margin-left: 170px;
    opacity: 80%;
}

button:hover {
    opacity: 50%;
}

button:active {
    opacity: 100%;
}

ul {
    list-style: none;
    margin: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    height: 80px;
}

.form-control.error input {
    border-color: purple;
}

.form-control small {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.enfoco {
    background-color: #9F9;
    border: 1px solid green;
}

.ayuda {
    font-size: xx-small;
    color: green;
}

input.error {
    background-color: #FF9;
    border: 1px solid red;
}