html {
    background-color: var(--color-1) !important;
}
body {
    background-color: var(--color-1);
    display: flex;
    position: relative;
    justify-content: center;
}

main {
    background-color: var(--color-blanco-1);
    width: 400px;
    min-width: 300px;
    top:110px;
    border-radius: 12px;
}

form {
    /* background-color: var(--color-2); */
    margin: 0.5em;
    padding: 2em;
}

h1{
    color: var(--color-3);
    font-size: 35px;
    text-align: center;
    margin-bottom: 1em;
}

label {
    color: var(--color-1);
}

input[type=text],
select {
    height: 35px;
    width: 99%;
    background: transparent;
    border: none;
    border-bottom: 2px inset var(--color-1);
}

button {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--color-3);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-blanco-0);
    transition: all 0.2s linear;
    transform: scale(1);
}

button:hover {
    background-color: var(--color-1);
    color: var(--color-blanco-0);
    transform: scale(1.03);
}


button:active {
    opacity: 100%;
    transform: scale(0.97);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

li {
    margin: 0px;
    padding: 0px;
    height: 80px;
}


small {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0;
    background-color: var(--color-3);
    color: var(--color-4);
    font-weight: bolder;
    visibility: hidden;
}

.error {
    visibility: visible;
    font-weight: 800;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
  /* use animation hack, if you have hard styled input */
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  /* if input has one color, and didn't have bg-image use shadow */
  /* -webkit-box-shadow: 0 0 0 1000px transparent inset; */
  /* text color */
  -webkit-text-fill-color: var(--color-1);
  color: var(--color-1);
  /* font weigth */
  font-weight: 600!important;
}

*:focus {
    outline-style: none;
}
