html,
body {
  background-color: var(--color-blanco-1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

main{
  position: relative;
  top: 80px;
}


